<html>
	<head>
		<title>{% block title %}{% endblock %}</title>
		<link rel="stylesheet" href="{{ asset('bundles/acme/css/bootstrap.css') }}"/>
	</head>
	<body>
		{% block body %}{% endblock %}
		{% block js %}{% endblock %}
	</body>
<html>